
body {

    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-color: #ffffff;

}

/* CABEÇALHO DA PÁGINA */

header {

    width: 80%;
    margin: 0 auto;
    padding: 20px 0px;

}

header h1 {

    margin: 0;
    float: left;
    font-weight: 400;
    border-bottom: 5px solid #7aff7a;
    color: #222222;

}

#menu {

    float: right;
    margin-top: 10px;
    background-color: coral;

}

a.menu {

    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    color: #858585;
    padding-bottom: 5px;
    transition: 0.5s;

}

a.menu:hover {

    color: #7aff7a;

}

/* INTRODUÇÃO */

#intro {

    height: 800px;
    width: 80%;
    margin: 0 auto;
    display: flex;

}

#intro #fotoIntro {

    height: 100%;
    width: 45%;
    background-color: blueviolet;

}

#intro #textIntro {

    height: 100%;
    width: 55%;
    background-color: cadetblue;

}