
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

/************ CABEÇALHO DA PÁGINA ************/

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 10px 5px 10px;
  transition: 0.4s background-color;
}

.scrollHeader {
  background-color: rgb(79, 161, 108);
  box-shadow: 0 0 5px rgba(19, 19, 19, 0.568);
  transition: 0.4s box-shadow;
}

h1, h2 {
  margin: 0;
}

header #title {
  font-size: 20px;
  margin-left: 10px;
  opacity: 0;
  color: white;
  transition: 0.4s opacity;
}

/* Menu header */

#menuHeader {
  background-color: rgb(43, 96, 73);
  width: 100%;
  opacity: 0.95;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#menuHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menuHeader ul li {
  margin: 25px 0;
}

#menuHeader ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
}

#buttonMenuMobile {
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}

.menuHeaderFlex {
  justify-content: center;
  align-items: center;
}

.iconMenu {
  width: 30px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 6px 0;
  transition: 0.2s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
  transform: rotate(-45deg) translate(-6px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* *************************************** */

#intro {
  background-color: rgb(59, 172, 109);
  background-image: url(imagens/pcwallpaper2-2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#fotoPerfil {
  width: 80%;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#foto {
  width: 200px;
  height: 200px;
  background-color: rgb(45, 187, 109);
  background-image: url(imagens/revomebg/1.png);
  background-repeat: no-repeat;
  background-position-y: -110px;
  background-size: cover;
  border-radius: 50%;
  border: 5px rgb(29, 226, 150);
  border-style: double;
  box-shadow: 0px 0px 10px rgb(11, 160, 80);
}

#textIntro {
  width: 80%;
  text-align: center;
}

#textIntro h2 {
  font-size: 30px;
}

#textIntro p {
  font-size: 20px;
  margin-bottom: 40px;
}

#textIntro mark.mark1 {
  background-color: rgb(199, 129, 64);
  color: white;
  padding: 0 5px;
}

#textIntro mark.mark2 {
  background-color: transparent;
  color: rgb(255, 214, 137);
  border-bottom: 3px solid rgb(255, 214, 137);
}

#socialbuttons a {
  font-size: 35px;
  color: white;
  transition: 0.2s color;
}

#socialbuttons a:nth-child(2) {
  margin: 0 15px;
}

#animationArrow {
  position: absolute;
  font-size: 20px;
  animation-name: arrowDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* animation arrow */

@keyframes arrowDown {
  0% {bottom: 10px;}
  50% {bottom: 20px;}
  100% {bottom: 10px;}
}

#about {
  background-color: white;
  height: 1000px;
}
