.projects {
  background-color: rgb(40, 40, 40);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects > h2 {
  font-size: 30px;
  background-color: #ffffff;
  color: rgb(14, 14, 14);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 0 rgb(61, 252, 195);
}

.cont-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  width: 80%;
}

.project {
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
  width: 25vw;
  height: 16vw;
  overflow: hidden;
  position: relative;
  animation: slidein 1s infinite;
}

.project > div {
  height: 100%;
}

.project > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}

@keyframes slidein {
  0% {
    background-color: rgb(95, 95, 95);
  }

  50% {
    background-color: rgb(130, 130, 130);
  }

  100% {
    background-color: rgb(95, 95, 95);
  }
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 44, 44, 0.841);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
  z-index: 2;
}

.project > div:hover > img {
	transform: scale(1.1);
}

.project > div:hover > .details {
  visibility: visible;
  opacity: 1;
}

/* Retirar assim que finalar o conteiner novo */

.details > a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(17, 251, 181);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(17, 251, 181);
  transition: 0.2s ease-in-out;
}

.details > a > svg {
  margin-right: 5px;
}

.details > a:hover {
  background-color: rgb(17, 251, 181);
  color: rgb(19, 19, 19);
  border: 2px solid rgb(17, 251, 181);
}

.details > a:nth-child(1) {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid;
}

.details > a:nth-child(1):hover {
  border-right: 1px solid rgb(17, 251, 181);
}

.details > a:nth-child(2) {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid;
}

.details > a:nth-child(2):hover {
  border-left: 1px solid rgb(17, 251, 181);
}

/* ^^^^^ Retirar assim que finalar o conteiner novo ^^^^^ */

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1700px) {
  .cont-projects {
    width: 1260px;
  }

  .project {
    width: 400px;
    height: 250px;
  }
}

@media screen and (min-width: 1051px) {
  .cont-projects {
    justify-content: left;
    column-gap: 30px;
  }
}

@media screen and (max-width: 1300px) {
  .cont-projects {
    width: 790px;
  }

  .project {
    width: 380px;
    height: 250px;
  }
}

@media screen and (max-width: 780px) {
  .projects > h2 {
    font-size: 20px;
  }

  .cont-projects {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .cont-projects > div {
    scroll-snap-align: center center;
    scroll-margin: 65px;
    flex-shrink: 0;
    margin-right: 30px;
  }

  .project {
    width: 80vw;
    height: 50vw;
  }

  .project > div {
    display: block;
    height: 100%;
  }

  .project:nth-child(1) {
    margin-left: 20%;
  }

  .project:nth-last-child(1) {
    margin-right: 18%;
  }
}

@media screen and (max-width: 500px) {
  .project {
    width: 70vw;
    height: 40vw;
  }
}
